.idea


################-BACKEND DIRECTORY-###################################
backend/obj
backend/bin
backend/.vs
################-BACKEND DIRECTORY-###################################



################-FRONTEND DIRECTORY-##################################

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# production
frontend/build

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

################-FRONTEND DIRECTORY-##################################