.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: #F5F5F5;
  border-bottom: 1px solid #E8E8E8;
}
.logo {
  z-index: 100;
  display: flex;
  width: auto;
}
.logo p {
  font-size: 17px;
  font-family: "Abyssinica SIL";
  letter-spacing: 2px;
  align-self: center;
  padding-left: 10px;
}

.header img {
  padding: 5px 10px;
  width: 40px;
  height: 40px;
}


.header .hamburger-icon__img {
  height: 30px;
  width: 30px;
  align-self: center;
}


